<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day1/dayNumber1.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[0])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 centered-image">
            <img src="/assets/img/day1/page1/square1.jpg" alt="">
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[1])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (nextPage)="nextPage.emit()"></app-navigation>
</div>
