<div>
    <app-day14-page1
        *ngIf="currentPage == 1"
        [templates]="templates"
        [state]="state"
        (prevDay)="prevDay.emit()"
        (nextPage)="nextPage()">
    </app-day14-page1>

    <app-day14-page2
        *ngIf="currentPage == 2"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day14-page2>

    <app-day14-page3
        *ngIf="currentPage == 3"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day14-page3>

    <app-day14-page4
        *ngIf="currentPage == 4"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day14-page4>

    <app-day14-page5
        *ngIf="currentPage == 5"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day14-page5>

    <app-day14-page6
        *ngIf="currentPage == 6"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextDay)="nextDay.emit()">
    </app-day14-page6>
</div>
