<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day10/dayNumber10.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[9])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[10])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText1" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText1"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page4.note1">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row gallery">
        <app-card
            class="col-2"
            cardNumber="1"
            [canBeSelected]="cardCanBeSelected"
            [cards]="state.page4.cards"
            [selectedCards]="state.page4.selectedCards">
        </app-card>

        <app-card
            class="col-2"
            cardNumber="2"
            [canBeSelected]="cardCanBeSelected"
            [cards]="state.page4.cards"
            [selectedCards]="state.page4.selectedCards">
        </app-card>

        <app-card
            class="col-2"
            cardNumber="3"
            [canBeSelected]="cardCanBeSelected"
            [cards]="state.page4.cards"
            [selectedCards]="state.page4.selectedCards">
        </app-card>

        <app-card
            class="col-2"
            cardNumber="4"
            [canBeSelected]="cardCanBeSelected"
            [cards]="state.page4.cards"
            [selectedCards]="state.page4.selectedCards">
        </app-card>

        <app-card
            class="col-2"
            cardNumber="5"
            [canBeSelected]="cardCanBeSelected"
            [cards]="state.page4.cards"
            [selectedCards]="state.page4.selectedCards">
        </app-card>

        <app-card
            class="col-2"
            cardNumber="6"
            [canBeSelected]="cardCanBeSelected"
            [cards]="state.page4.cards"
            [selectedCards]="state.page4.selectedCards">
        </app-card>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText2" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText2"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page4.note2">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[11])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText3" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText3"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page4.note3">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevPage)="prevPage.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
