<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day8/dayNumber8.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[6])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[7])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <table>
        <tr>
            <td> <b>Вещь/предмет</b> </td>
            <td> <b>2-3 характеристики данной вещи</b> </td>
            <td> <b>Ваши чувства, которые связаны с конкретной вещью или чувства, которые вызывает эта вещь</b> </td>
            <td> <b>Задача вещи. Для чего эта вещь служила, была необходима. Вещь – это атрибут чего?</b> </td>
            <td> <b>О какой потребности говорит конкретная вещь?</b> </td>
            <td> <b>О каком уроке или опыте вы могли бы понять в связи с данной вещью? Какой вывод сделать?</b> </td>
        </tr>

        <tr>
            <td>ПРИМЕР: распашонка</td>
            <td>маленькая, желтая, красивая</td>
            <td>Трепет, любовь, беззаботность</td>
            <td>Одежда, укрыть тело</td>
            <td>Согреться</td>
            <td>О заботе со стороны родителей (мамы или папы)</td>
        </tr>

        <tr>
            <td>ПРИМЕР: Горшок</td>
            <td>холодный, мокрый, ругают, слезы</td>
            <td>Страх, неприятно, непонятно</td>
            <td>Стать взрослым</td>
            <td>Быть самостоятельным</td>
            <td>Это был мой негативный опыт (обидно и больно) и я благодарю его за то, что таким образом не поступлю со своим ребенком.</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[8])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <table>
        <tr>
            <td> <b>Вещь/предмет</b> </td>
            <td> <b>2-3 характеристики данной вещи</b> </td>
            <td> <b>Ваши чувства, которые связаны с конкретной вещью или чувства, которые вызывает эта вещь</b> </td>
            <td> <b>Задача вещи. Для чего эта вещь служила, была необходима. Вещь – это атрибут чего?</b> </td>
            <td> <b>О какой потребности говорит конкретная вещь?</b> </td>
            <td> <b>О каком уроке или опыте вы могли бы понять в связи с данной вещью? Какой вывод сделать?</b> </td>
        </tr>

        <tr>
            <td><textarea name="thing" id="thing_1" placeholder="Вещь 1"></textarea></td>
            <td><textarea name="features" id="features_1"></textarea></td>
            <td><textarea name="feelings" id="feelings_1"></textarea></td>
            <td><textarea name="purpose" id="purpose_1"></textarea></td>
            <td><textarea name="demand" id="demand_1"></textarea></td>
            <td><textarea name="conclusion" id="conclusion_1"></textarea></td>
        </tr>

        <tr>
            <td><textarea name="thing" id="thing_2" placeholder="Вещь 2"></textarea></td>
            <td><textarea name="features" id="features_2"></textarea></td>
            <td><textarea name="feelings" id="feelings_2"></textarea></td>
            <td><textarea name="purpose" id="purpose_2"></textarea></td>
            <td><textarea name="demand" id="demand_2"></textarea></td>
            <td><textarea name="conclusion" id="conclusion_2"></textarea></td>
        </tr>

        <tr>
            <td><textarea name="thing" id="thing_3" placeholder="Вещь 3"></textarea></td>
            <td><textarea name="features" id="features_3"></textarea></td>
            <td><textarea name="feelings" id="feelings_3"></textarea></td>
            <td><textarea name="purpose" id="purpose_3"></textarea></td>
            <td><textarea name="demand" id="demand_3"></textarea></td>
            <td><textarea name="conclusion" id="conclusion_3"></textarea></td>
        </tr>

        <tr>
            <td><textarea name="thing" id="thing_4" placeholder="Вещь 4"></textarea></td>
            <td><textarea name="features" id="features_4"></textarea></td>
            <td><textarea name="feelings" id="feelings_4"></textarea></td>
            <td><textarea name="purpose" id="purpose_4"></textarea></td>
            <td><textarea name="demand" id="demand_4"></textarea></td>
            <td><textarea name="conclusion" id="conclusion_4"></textarea></td>
        </tr>

        <tr>
            <td><textarea name="thing" id="thing_5" placeholder="Вещь 5"></textarea></td>
            <td><textarea name="features" id="features_5"></textarea></td>
            <td><textarea name="feelings" id="feelings_5"></textarea></td>
            <td><textarea name="purpose" id="purpose_5"></textarea></td>
            <td><textarea name="demand" id="demand_5"></textarea></td>
            <td><textarea name="conclusion" id="conclusion_5"></textarea></td>
        </tr>

        <tr>
            <td><textarea name="thing" id="thing_6" placeholder="Вещь 6"></textarea></td>
            <td><textarea name="features" id="features_6"></textarea></td>
            <td><textarea name="feelings" id="feelings_6"></textarea></td>
            <td><textarea name="purpose" id="purpose_6"></textarea></td>
            <td><textarea name="demand" id="demand_6"></textarea></td>
            <td><textarea name="conclusion" id="conclusion_6"></textarea></td>
        </tr>

        <tr>
            <td><textarea name="thing" id="thing_7" placeholder="Вещь 7"></textarea></td>
            <td><textarea name="features" id="features_7"></textarea></td>
            <td><textarea name="feelings" id="feelings_7"></textarea></td>
            <td><textarea name="purpose" id="purpose_7"></textarea></td>
            <td><textarea name="demand" id="demand_7"></textarea></td>
            <td><textarea name="conclusion" id="conclusion_7"></textarea></td>
        </tr>

        <tr>
            <td><textarea name="thing" id="thing_8" placeholder="Вещь 8"></textarea></td>
            <td><textarea name="features" id="features_8"></textarea></td>
            <td><textarea name="feelings" id="feelings_8"></textarea></td>
            <td><textarea name="purpose" id="purpose_8"></textarea></td>
            <td><textarea name="demand" id="demand_8"></textarea></td>
            <td><textarea name="conclusion" id="conclusion_8"></textarea></td>
        </tr>
    </table>

    <div class="row">
        <div class="col-1"></div>
        <audio class="col-10" id="player" src="../../../../assets/sounds/a.mp3" controls preload="metadata"></audio>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[9])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>

        <div class="col-10 text-center">
            <table>
                <tr>
                    <td class="text-in-table">Это был мой опыт...</td>
                    <td><textarea name="experience" id="exp"></textarea></td>
                </tr>

                <tr>
                    <td class="text-in-table">И я благодарю его за…</td>
                    <td><textarea name="experience" id="exp"></textarea></td>
                </tr>

                <tr>
                    <td class="text-in-table">Я выбираю быть… (каким человеком?, иметь какое качество?)</td>
                    <td><textarea name="experience" id="exp"></textarea></td>
                </tr>

                <tr>
                    <td class="text-in-table">
                        Именно сейчас я с радостью отпустила… (укажите чувство, которое вы отпустили: ненависть, обиду,
                        претензию, страх, чувство вины или стыда и т.п.), чтобы получить ресурс.
                    </td>
                    <td><textarea name="experience" id="exp"></textarea></td>
                </tr>

                <tr>
                    <td class="text-in-table">Я искренне пускаю в свою жизнь… (желаемое чувство, ресурсное; укажите какой ресурс ВЗАМЕН вы хотите приобрести)</td>
                    <td><textarea name="experience" id="exp"></textarea></td>
                </tr>

                <tr>
                    <td class="text-in-table">
                        Благодаря этому опыту, я в своей жизни ….(ценю, имею, осознала, поняла стала, обрела, … свой
                        вариант и укажите что именно, конкретизируйте).
                    </td>
                    <td><textarea name="experience" id="exp"></textarea></td>
                </tr>
            </table>
        </div>

        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[10])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevPage)="prevPage.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
