<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day7/dayNumber7.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[10])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row gallery">
        <app-card-and-comment
            class="col-2"
            cardNumber="1"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page10.cards"
            [selectedCards]="state.page10.selectedCards"
            [(note)]="state.page10.note1">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="2"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page10.cards"
            [selectedCards]="state.page10.selectedCards"
            [(note)]="state.page10.note2">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="3"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page10.cards"
            [selectedCards]="state.page10.selectedCards"
            [(note)]="state.page10.note3">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="4"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page10.cards"
            [selectedCards]="state.page10.selectedCards"
            [(note)]="state.page10.note4">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="5"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page10.cards"
            [selectedCards]="state.page10.selectedCards"
            [(note)]="state.page10.note5">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="6"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page10.cards"
            [selectedCards]="state.page10.selectedCards"
            [(note)]="state.page10.note6">
        </app-card-and-comment>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevDay)="prevPage.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
