.navigation button {
    overflow: hidden;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #79bc31;
    background-color: #92D14F;
    color: #000000;
    margin-bottom: 30px;
}

.navigation button:hover {
    cursor: pointer;
    background-color: #456b1c;
}
