<div class="row">
    <div class="col-2 navigation">
        <button *ngIf="prevDay.observers.length" (click)="prevDay.emit()">Назад</button>
        <button *ngIf="prevPage.observers.length" (click)="prevPage.emit()">Назад</button>
    </div>

    <div class="col-8"></div>

    <div class="col-2 navigation">
        <button *ngIf="nextPage.observers.length" (click)="nextPage.emit()">Дальше</button>
        <button *ngIf="nextDay.observers.length" (click)="nextDay.emit()">Дальше</button>
    </div>
</div>
