/* You can add global styles to this file, and also import other style files */

@charset "UTF-8";
/*compiled with sass*/

.col-1, col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    border: 1px red;
}

.test {
    color: red;
    border: 1px green;
}

html, body {
    font-family: "Comfortaa", cursive;
    font-size: 16px;
    width: 100%;
    height: 100%;
    color: #222;
    margin: 0;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
    min-height: 100%;
    background-color: white;
    position: relative;
    padding: 0;
}

.content {
    padding: 0 0 40px 0;
}

.container {
    width: 980px;
}

.main-text {
    padding-top: 30px;
}

.main-text img {
    padding-top: 0;
    margin-top: 0;
}

.radio-q {
    height: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

form p {
    height: 15px;
}

.text-field {
    display: block;
    clear: both;
    margin: 20px auto;
    width: 100%;
}

strong {
    font-size: 120%;
}

.bg-task {
    background-color: #92D14F;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
}

p {
    text-indent: 2em;
    text-align: justify;
}

.textarea-label {
    margin-top: 15px;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;
}

.text-aside {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.5em;
}

.delimiter {
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-aside {
    margin-top: 10px;
}

ol li {
    padding-top: 10px;
    text-align: justify;
}

ol li:before {
    background-color: #92D14F;
}

.box-padding {
    padding: 20px 10px 10px 30px;
}

.img-responsive {
    float: left;
    display: inline-block !important;
    width: 200px;
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.centered-image {
    margin: 30px 0 30px 0;
}

.img-thumbnail {
    border-color: #92D14F;
    max-width: 200px;
}

.foto {
    padding-left: 5%;
}

.text-decor {
    font-size: 150%;
    color: #79bc31;
    font-style: italic;
}

.hint {
    font-size: 0.75;
    color: #79bc31;
    font-style: italic;
}

/*border-template*/
.box-1 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.box-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.panel-footer {
    position: absolute;
    bottom: 0 !important;
    width: 980px;
    margin: 60px 0 0;
    height: 40px;
    background-color: #92D14F;
    border-top: 2px solid #79bc31;
}

// .modal {
//     background: #fff;
//     left: 50%;
//     margin: -250px 0 0 -40%;
//     position: absolute;
//     display: none;
//     width: 80%;
//     border-radius: 5px;
//     box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
//     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
//     -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
// }

// .modal:target {
//     display: block;
//     top: 30%;
//     transition: all 0.4s ease-in-out;
//     -moz-transition: all 0.4s ease-in-out;
//     -webkit-transition: all 0.4s ease-in-out;
// }

// .modal header, .modal footer-m {
//     background: #f7f7f7;
//     border-bottom: 1px solid #e7e7e7;
//     border-radius: 5px 5px 0 0;
//     -moz-border-radius: 5px 5px 0 0;
//     -webkit-border-radius: 5px 5px 0 0;
// }

// .modal footer-m {
//     border: none;
//     border-top: 1px solid #e7e7e7;
//     border-radius: 0 0 5px 5px;
//     -moz-border-radius: 0 0 5px 5px;
//     -webkit-border-radius: 0 0 5px 5px;
// }

// .modal section, .modal header, .modal footer-m {
//     padding: 15px;
//     z-index: 200;
// }

// .modal h2 {
//     margin: 0;
// }

// .modal .btn {
//     float: right;
// }

/*
cards choosing
*/
.video {
    position: relative;
}

.video-container, iframe {
    position: relative;
    margin: 20px auto;
}

.gallery {
    padding: 10px;
}

.gallery h4 {
    font-weight: 200;
    text-align: center;
}

.gallery div img {
    width: 100%;
    height: 200px;
    margin: auto;
    overflow: hidden;
    background-image: url("/assets/img/cards/back.of.card.jpg");
}

.gallery div img:hover {
    background-image: url("/assets/img/cards/back.of.card.hover.jpg");
}

.gallery-h {
    padding: 10px;
}

.gallery-h h4 {
    font-weight: 200;
    text-align: center;
}

.gallery-h div img {
    width: 100%;
    height: 150px;
    margin: auto;
    overflow: hidden;
    background: url("/assets/img/cards/back.of.card.h.jpg") no-repeat center top fixed;
    background-size: cover;
}

.gallery-h div img:hover {
    background: url("/assets/img/cards/back.of.card.hover.h.jpg") no-repeat center top fixed;
}

.gallery-h div img:hover {
    background-size: cover;
}

#hide-block {
    display: none;
}

#hide-block2 {
    display: none;
}

.list-style ul {
    margin-left: 30%;
}

.input input {
    display: inline-block;
    width: 60px;
}

.input p {
    text-indent: 0;
    margin: 2px 28%;
}

.input-h input {
    display: inline-block;
    width: 60px;
}

.input-h p {
    text-indent: 0;
    margin: 2px 35%;
}

#wrapper-tool {
    margin: 0;
    padding: 0;
}

#a {
    color: #79bc31;
}

.tooltip {
    border: 2px solid #79bc31;
    background: white;
    font-size: .9em;
    color: #222;
    padding: 5px;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;
    opacity: 1;
    z-index: 1;
}

.pass a {
    text-decoration: none;
    font-size: 1em;
    position: relative;
    transition: all 1.5s;
}

.pass a:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #92D14F;
    transition: all 1.5s;
}

.pass a:hover:before {
    width: 100%;
    left: 0;
    background: #8e4fd1;
}

/*.gallery{
	padding: 10px;

	 div {
	 	img{
		width: 100%;
	   height: 200px;
		margin: auto;
		overflow:hidden;
	}
}
}*/

/*# sourceMappingURL=style.css.map */

.form-group {
    label {
        display: block;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.5;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        & + .checkbox {
            margin-top: 8px;
        }

        &.required:after {
            content: ' *';
            color: red;
        }
    }
}

.form-control {

    //border: 1px solid #E6E6E6;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    //box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.12);

    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: green;
    }

    &:valid {
        background: #fff;
    }

    &[readonly] {
        background: #fff;
    }

    &[disabled] {
        background: rgba(174, 190, 197, 0.15);

        & + .input-group-append .btn_white {
            background: rgba(174, 190, 197, 0.15);
            cursor: default;
        }
    }

    &.ng-invalid {
        border-color: red;
    }
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

label.checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 0;
    line-height: 22px !important;
    color: #000 !important;
    opacity: 1 !important;
    text-transform: none !important;
    font-weight: 500 !important;
    font-size: 15px;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 1px;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 3px;
        background: #fff;
    }

    input[type="checkbox"]:focus + .checkmark {
        border-color: green;
    }

    input:checked ~ .checkmark {
        background-color: #02B3F2;
        border: none;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        top: 0;
        left: 4px;
        content: '\f00c';
        font-family: 'Font Awesome 5 Pro';
        font-size: 14px;
        color: #fff;
        font-weight: 300;
    }

    input:disabled ~ .checkmark {
        opacity: 0.5;
        cursor: default;
    }
}

.form-group label {
    text-transform: none;
    opacity: 1;
    font-size: 15px;
    font-weight: 500;
}

.form-actions {
    .btn {
        margin-right: 15px;
    }
}

.input-group {
    .form-control {


        &:focus + .input-group-append .btn_white {
            border-color: green;
        }
    }

    .input-group-append {
        margin-left: -1px;

        .btn_white:focus {
            .fa {
                color: green;
            }
        }
    }
}

button:active, button:focus, audio:active, audio:focus {
    outline: none;
}

audio {
    margin: 30px 0;
}
