<div class="wrapper admin-wrapper">
    <div class="content">
        <app-admin-pages-log
            [days]="days$ | async"
            (addDay)="addDay()"
            (addPage)="addPage($event)">
        </app-admin-pages-log>
    </div>
</div>
