<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day11/dayNumber11.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[0])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevDay)="prevDay.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
