.block__content {

    margin-bottom: 10px;

    & > div {
        border: solid 2px green;
        border-radius: 5px;
    }

    &:hover {
        background-color: lightgrey;
    }

    &_margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &_button-group {

        button {
            margin: 5px
        }
    }
}