<h1>Page Edit</h1>

<ng-container *ngIf="page?.blocks.length > 0">
    <div class="block__content"
        *ngFor="let block of blocks; index as i">
        <div block-place
            [blockId]="block.id">
            <div class="row block__content_margin">
                <div class="col-sm-7">
                    BlockType - <b>{{getBlockTypeName(block.blockType)}}</b> {{block.id}}
                </div>
                <div class="col-sm-3">
                    Priority - {{ block.priority }}
                </div>
                <div class="col-sm-2 text-right">
                    <i class="fa fa-arrow-circle-up fa-lg"
                        *ngIf="i > 0"
                        (click)="changePriorityWithClick(i, i - 1)">
                    </i>
                    <i class="fa fa-arrow-circle-down fa-lg"
                        *ngIf="i < page.blocks.length - 1"
                        (click)="changePriorityWithClick(i, i + 1)">
                    </i>
                </div>
            </div>
            <div class="row block__content_button-group">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-primary">
                        Edit Block
                    </button>
                    <button class="btn btn-danger"
                        (click)="removeBlockClick(block)">
                        Remove Block
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="row" *ngIf="!addMode">
    <div class="col-sm-12">
        <button class="btn btn-primary"
            (click)="addNewBlockClick()">
            Add New Block
        </button>
    </div>
</div>

<app-add-new-block
    *ngIf="addMode"
    [page]="page"
    (saveBlock)="saveBlock.emit($event); addMode = false">
</app-add-new-block>