<div class="wrapper admin-wrapper">
    <div class="content">
        <app-two-columns-grid>
            <left-column>
                <app-edit-page
                    [page]="page$ | async"
                    (saveBlock)="saveBlock($event)"
                    (removeBlock)="removeBlock($event)"
                    (changePriorityWith)="changePriorityWith($event)">
                </app-edit-page>
            </left-column>
            <right-column>
                <app-show-page
                    [page]="page$ | async">
                </app-show-page>
            </right-column>
        </app-two-columns-grid>
    </div>
</div>