<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <button [disabled]="isEditColumnShown"
                (click)="showEditColumn()">
                Show Edit Column
            </button>
        </div>
        <div class="col-sm-6 text-center">
            <button [disabled]="isAllColumnsShown"
                (click)="showAllColumns()">
                Show All Column
            </button>
        </div>
        <div class="col-sm-3 text-right">
            <button [disabled]="isSiteColumnShown"
                (click)="showSiteColumn()">
                Show Site Column
            </button>
        </div>
    </div>
    <div class="row">
        <div [ngClass]="{
                'col-sm-6': isAllColumnsShown,
                'col-sm-11': isEditColumnShown,
                'col-sm-1': isSiteColumnShown
            }">
            <ng-content select="left-column"></ng-content>
        </div>
        <div [ngClass]="{
                'col-sm-6': isAllColumnsShown,
                'col-sm-1': isEditColumnShown,
                'col-sm-11': isSiteColumnShown
            }">
            <ng-content select="right-column"></ng-content>
        </div>
    </div>
</div>
