<div class="wrapper">
    <app-header [day]="state.currentDay"></app-header>

    <div class="content">
        <div class="container-fluid">

            <button (click)="decDay()" [disabled]="this.state.currentDay == 1">day--</button>
            <button (click)="incDay()" [disabled]="this.state.currentDay == 21">day++</button>

            <app-day1
                *ngIf="state.currentDay == 1"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(1)"
                [state]="state.day1"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day1>

            <app-day2
                *ngIf="state.currentDay == 2"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(2)"
                [state]="state.day2"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day2>

            <app-day3
                *ngIf="state.currentDay == 3"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(3)"
                [state]="state.day3"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day3>

            <app-day4
                *ngIf="state.currentDay == 4"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(4)"
                [state]="state.day4"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day4>

            <app-day5
                *ngIf="state.currentDay == 5"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(5)"
                [state]="state.day5"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day5>

            <app-day6
                *ngIf="state.currentDay == 6"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(6)"
                [state]="state.day6"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day6>

            <app-day7
                *ngIf="state.currentDay == 7"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(7)"
                [state]="state.day7"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day7>

            <app-day8
                *ngIf="state.currentDay == 8"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(8)"
                [state]="state.day8"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day8>

            <app-day9
                *ngIf="state.currentDay == 9"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(9)"
                [state]="state.day9"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day9>

            <app-day10
                *ngIf="state.currentDay == 10"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(10)"
                [state]="state.day10"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day10>

            <app-day11
                *ngIf="state.currentDay == 11"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(11)"
                [state]="state.day11"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day11>

            <app-day12
                *ngIf="state.currentDay == 12"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(12)"
                [state]="state.day12"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day12>

            <app-day13
                *ngIf="state.currentDay == 13"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(13)"
                [state]="state.day13"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day13>

            <app-day14
                *ngIf="state.currentDay == 14"
                [pageToShow]="state.currentPage"
                [templates]="getTemplates(14)"
                [state]="state.day14"
                (prevDay)="prevDay()"
                (nextDay)="nextDay()">
            </app-day14>
        </div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>
    <div class="row panel-footer"></div>
</div>
