<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day9/dayNumber9.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[0])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="video-container" id="player1"></div>
            <p *ngIf="video1.viewed">Вопросы после просмотра видео 1 ...</p>
        </div>
        <div class="col-2"></div>
    </div>

    <strong>video1 = {{ video1 | json }}</strong>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[1])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page1.note1">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[2])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="video col-8">
            <div class="video-container" id="player2"></div>
            <p *ngIf="video2.viewed">Вопросы после просмотра видео 2 ...</p>
        </div>
        <div class="col-2"></div>
    </div>

    <strong>video2 = {{ video2 | json }}</strong>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[3])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText2" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText2"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page1.note2">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[4])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="video col-8">
            <div class="video-container" id="player3"></div>
            <p *ngIf="video3.viewed">Вопросы после просмотра видео 3 ...</p>
        </div>
        <div class="col-2"></div>
    </div>

    <strong>video3 = {{ video3 | json }}</strong>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[5])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText3" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText3"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page1.note3">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevDay)="prevDay.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
