<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Page for {{ day.title }}</h4>
    <button type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="dayForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="refundAmount">Page Title:</label>
                    <div class="input-group">
                        <input type="text"
                            class="form-control"
                            formControlName="title">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button"
        class="btn btn-outline-dark"
        (click)="save()">
        Save
    </button>
</div>