<div>
    <app-day9-page1
        *ngIf="currentPage == 1"
        [templates]="templates"
        [state]="state"
        (prevDay)="prevDay.emit()"
        (nextPage)="nextPage()">
    </app-day9-page1>

    <app-day9-page2
        *ngIf="currentPage == 2"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day9-page2>

    <app-day9-page3
        *ngIf="currentPage == 3"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day9-page3>

    <app-day9-page4
        *ngIf="currentPage == 4"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextDay)="nextDay.emit()">
    </app-day9-page4>
</div>
