<div>
    <app-day7-page1
        *ngIf="currentPage == 1"
        [templates]="templates"
        [state]="state"
        (prevDay)="prevDay.emit()"
        (nextPage)="nextPage()">
    </app-day7-page1>

    <app-day7-page2
        *ngIf="currentPage == 2"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page2>

    <app-day7-page3
        *ngIf="currentPage == 3"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page3>

    <app-day7-page4
        *ngIf="currentPage == 4"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page4>

    <app-day7-page5
        *ngIf="currentPage == 5"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page5>

    <app-day7-page6
        *ngIf="currentPage == 6"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page6>

    <app-day7-page7
        *ngIf="currentPage == 7"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page7>

    <app-day7-page8
        *ngIf="currentPage == 8"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page8>

    <app-day7-page9
        *ngIf="currentPage == 9"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page9>

    <app-day7-page10
        *ngIf="currentPage == 10"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page10>

    <app-day7-page11
        *ngIf="currentPage == 11"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page11>

    <app-day7-page12
        *ngIf="currentPage == 12"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page12>

    <app-day7-page13
        *ngIf="currentPage == 13"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day7-page13>

    <app-day7-page14
        *ngIf="currentPage == 14"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextDay)="nextDay.emit()">
    </app-day7-page14>
</div>
