<h2>Days</h2>

<button class="btn btn-primary"
    (click)="addDayClick()">
    Add Day
</button>

<table class="table table-striped">
    <thead class="text-center">
        <th scope="col" colspan="2">Page Title</th>
        <th scope="col">Number of blocks</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let day of days">
            <tr scope="row">
                <td colspan="2">
                    {{ day.title }}
                    <span *ngIf="day.pages?.length"
                        (click)="day.expanded = !day.expanded">
                        <i *ngIf="!day.expanded" class="fas fa-angle-right fa-lg"></i>
                        <i *ngIf="day.expanded" class="fas fa-angle-down fa-lg"></i>
                    </span>
                </td>
                <td class="text-center">{{ day.pages.length }}</td>
                <td class="text-center">
                    <button class="btn btn-primary"
                        (click)="addPageClick(day)">
                        Add Day Page
                    </button>
                </td>
            </tr>
            <ng-template [ngIf]="day.expanded">
                <tr scope="row" *ngFor="let page of day.pages">
                    <td></td>
                    <td>{{ page.title }}</td>
                    <td class="text-center">{{ page.blocks.length }}</td>
                    <td class="text-center">
                        <a routerLink="/admin/pages/{{page.id}}">
                            <button class="btn btn-primary">
                                Edit
                            </button>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </ng-container>
    </tbody>
</table>