<div class="row radio-question">
    <div class="col-1"></div>
    <div class="col-7 text-left"><p>{{ question }}</p></div>
    <div class="col-1"></div>

    <div class="col-2">
        <span class="radio-yes">
            <input type="radio"
                [id]="idYes"
                [name]="name"
                [value]="true"
                [ngModel]="answer"
                (ngModelChange)="onAnswerChange($event)">
            <label class="radio-label" [for]="idYes">Да</label>
        </span>

        <span class="radio-no">
            <input type="radio"
                [id]="idNo"
                [name]="name"
                [value]="false"
                [ngModel]="answer"
                (ngModelChange)="onAnswerChange($event)">
            <label class="radio-label" [for]="idNo">Нет</label>
        </span>
    </div>

    <div class="col-1"></div>
</div>
