<form [formGroup]="blockForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="blockType">Block Type</label>
                <ng-select
                    class="form-control"
                    [items]="blockTypes"
                    bindLabel="name"
                    bindValue="code"
                    [searchable]="false"
                    formControlName="blockType">
                </ng-select>
            </div>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>

    <div class="row" *ngIf="blockType == BlockType.TEXT">
        <div class="col-md-12">
            <h3>Please add text of paragraph</h3>
            <textarea
                cols="30"
                rows="3"
                class="form-control"
                formControlName="text">
            </textarea>
        </div>
    </div>

    <div class="row" *ngIf="blockType == BlockType.TEXTAREA">
        <div class="col-md-12">
            <h3>Please add Textarea description</h3>
            <div class="col-md-12">
                <textarea
                    cols="30"
                    rows="3"
                    class="form-control"
                    formControlName="text">
                </textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <button class="btn btn-primary"
                (click)="saveBlockClick()">
                Save
            </button>
        </div>
    </div>
</form>