@import "~bootstrap/dist/css/bootstrap.css";

.balloon1 {
  position: absolute;
  left: 11%;
  top: 25px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 5px solid #92D14F;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  z-index: 1;
}

.balloon2 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 10%;
  top: 43px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  border: 5px solid #92D14F;
  z-index: 1;
}

.balloon {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 12%;
}

p.thought {
  position: relative;
  width: 190px;
  height: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  background-color: #fff;
  border: 5px solid #92D14F;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

.label {
  padding: 0;
  position: absolute;
  top: 290px;
  right: -10px;
  width: 180px;
  height: 100px;
  background-image: url("../../../assets/img/label.png");
  z-index: 1;
}

.label img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header {
  height: 300px;
  box-sizing: border-box;
}

.header img {
  margin: 0;
  height: 300px;
  max-height: 100%;
  overflow: hidden;
}

.clear-padding, .header img {
  padding: 0;
}

.title-color {
  background-color: #92D14F;
  border-top: 2px solid #79bc31;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.caption {
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  padding-top: 0;
}

.caption h1 {
  margin-top: 10px;
}

.caption .header-sub-caption {
  margin-top: -10px;
}

