<header>
    <div class="balloon1"></div>
    <div class="balloon2"></div>

    <div class="balloon">
        <p class="thought text-success">"Диалог всегда<br>результативнее,<br>чем наказание"</p>
    </div>

    <div class="label"><img alt="" src="../../assets/img/header/papyrus.png"></div>

    <div class="container-fluid header">
        <div class="row">
            <div class="col-2"><img alt="" src="../../assets/img/header/kid_{{ suffix }}.jpg"></div>
            <div class="col-8 clear-padding"><img alt="" src="../../assets/img/header/header.jpg"></div>
            <div class="col-2 clear-padding"><img alt="" src="../../assets/img/header/wisdom_{{ day }}.png"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row title-color">
            <div class="col-2"></div>
            <div class="col-8 caption">
                <h1>День {{ dayName }}</h1>
                <div *ngIf="subCaption" class="header-sub-caption">{{ subCaption }}</div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</header>
