<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day8/dayNumber8.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[0])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>

        <div class="col-2 text-center">
            <input type="radio"
                [id]="idYes"
                [name]="name"
                [value]="true"
                [ngModel]="answer"
                (ngModelChange)="onAnswerChange($event)">
            <label class="radio-label" [for]="idYes">Да</label>
        </div>

        <div class="col-2 text-center">
            <input type="radio"
                [id]="idNo"
                [name]="name"
                [value]="false"
                [ngModel]="answer"
                (ngModelChange)="onAnswerChange($event)">
            <label class="radio-label" [for]="idNo">Нет</label>
        </div>

        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[1])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="text-center">
        <button class="open-test-button">Открыть тест</button>
    </div>

<!--  если тест открыт  -->

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[2])"></div>
        </div>
        <div class="col-1"></div>
    </div>



    <div class="row question">
        <div class="col-2"></div>

        <div class="col-8">
            <p>{{ question }}</p>

            <div>
                <input type="radio"
                    [id]="idTotallyAgree"
                    [name]="name"
                    [ngModel]="answer"
                    (ngModelChange)="onAnswerChange($event)">
                <label class="radio-label" [for]="idTotallyAgree">Полностью согласен</label>
            </div>

            <div>
                <input type="radio"
                    [id]="idAlmostAgree"
                    [name]="name"
                    [ngModel]="answer"
                    (ngModelChange)="onAnswerChange($event)">
                <label class="radio-label" [for]="idAlmostAgree">Почти согласен</label>
            </div>

            <div>
                <input type="radio"
                    [id]="idRatherAgree"
                    [name]="name"
                    [ngModel]="answer"
                    (ngModelChange)="onAnswerChange($event)">
                <label class="radio-label" [for]="idRatherAgree">Скорее согласен</label>
            </div>

            <div>
                <input type="radio"
                    [id]="idDisagree"
                    [name]="name"
                    [ngModel]="answer"
                    (ngModelChange)="onAnswerChange($event)">
                <label class="radio-label" [for]="idDisagree">Полностью не согласен</label>
            </div>
        </div>

        <div class="col-2"></div>
    </div>




    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[3])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevPage)="prevDay.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
