.radio-label {
    padding-left: 10px;
}

.open-test-button {
    overflow: hidden;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #79bc31;
    background-color: #92D14F;
    color: #000000;
    margin: 30px 0;
}

.open-test-button:hover {
    cursor: pointer;
    background-color: #456b1c;
}

.question {
    padding: 20px 0 10px 0;
}
