<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{ text }}</p>
</div>
<div class="modal-footer">
    <button type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close(true)">
        Ok
    </button>
    <button type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close(false)">
        Cancel
    </button>
</div>