<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day1/dayNumber1.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[13])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <app-question
        name="question1"
        question="1. Я всегда сочувствую своему ребенку."
        [(answer)]="state.page5.answer1">
    </app-question>
    <app-question
        name="question2"
        question="2. Я считаю своим долгом знать все, что думает мой ребенок."
        [(answer)]="state.page5.answer2">
    </app-question>
    <app-question
        name="question3"
        question="3. Я уважаю своего ребенка."
        [(answer)]="state.page5.answer3">
    </app-question>
    <app-question
        name="question4"
        question="4. Мне кажется, что поведение моего ребенка значительно отклоняется от нормы."
        [(answer)]="state.page5.answer4">
    </app-question>
    <app-question
        name="question5"
        question="5. Нужно подольше держать ребенка в стороне от реальных жизненных проблем, если они его травмируют."
        [(answer)]="state.page5.answer5">
    </app-question>
    <app-question
        name="question6"
        question="6. Я испытываю к ребенку чувство расположения."
        [(answer)]="state.page5.answer6">
    </app-question>
    <app-question
        name="question7"
        question="7. Хорошие родители ограждают ребенка от трудностей жизни."
        [(answer)]="state.page5.answer7">
    </app-question>
    <app-question
        name="question8"
        question="8. Мой ребенок часто неприятен мне"
        [(answer)]="state.page5.answer8">
    </app-question>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[14])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevPage)="prevPage.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
