<div>
    <app-day4-page1
        *ngIf="currentPage == 1"
        [templates]="templates"
        [state]="state"
        (prevDay)="prevDay.emit()"
        (nextPage)="nextPage()">
    </app-day4-page1>

    <app-day4-page2
        *ngIf="currentPage == 2"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day4-page2>

    <app-day4-page3
        *ngIf="currentPage == 3"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day4-page3>

    <app-day4-page4
        *ngIf="currentPage == 4"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day4-page4>

    <app-day4-page5
        *ngIf="currentPage == 5"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day4-page5>

    <app-day4-page6
        *ngIf="currentPage == 6"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day4-page6>

    <app-day4-page7
        *ngIf="currentPage == 7"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day4-page7>

    <app-day4-page8
        *ngIf="currentPage == 8"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day4-page8>

    <app-day4-page9
        *ngIf="currentPage == 9"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextPage)="nextPage()">
    </app-day4-page9>

    <app-day4-page10
        *ngIf="currentPage == 10"
        [templates]="templates"
        [state]="state"
        (prevPage)="prevPage()"
        (nextDay)="nextDay.emit()">
    </app-day4-page10>
</div>
