<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day7/dayNumber7.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[0])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row gallery">
        <app-card-and-comment
            class="col-2"
            cardNumber="1"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note1">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="2"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note2">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="3"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note3">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="4"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note4">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="5"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note5">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="6"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note6">
        </app-card-and-comment>
    </div>

    <div class="row gallery">
        <app-card-and-comment
            class="col-2"
            cardNumber="7"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note7">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="8"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note8">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="9"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note9">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="10"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note10">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="11"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note11">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-2"
            cardNumber="12"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page1.cards"
            [selectedCards]="state.page1.selectedCards"
            [(note)]="state.page1.note12">
        </app-card-and-comment>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[1])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevDay)="prevDay.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
