<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day7/dayNumber7.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[3])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row gallery-h">
        <app-card-and-comment
            class="col-3"
            cardNumber="1"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note1">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="2"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note2">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="3"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note3">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="4"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note4">
        </app-card-and-comment>
    </div>

    <div class="row gallery-h">
        <app-card-and-comment
            class="col-3"
            cardNumber="5"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note5">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="6"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note6">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="7"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note7">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="8"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note8">
        </app-card-and-comment>

    </div>

    <div class="row gallery-h">
        <app-card-and-comment
            class="col-3"
            cardNumber="9"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note9">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="10"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note10">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="11"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note11">
        </app-card-and-comment>

        <app-card-and-comment
            class="col-3"
            cardNumber="12"
            [cardCanBeSelected]="cardCanBeSelected"
            [cards]="state.page3.cards"
            [selectedCards]="state.page3.selectedCards"
            [(note)]="state.page3.note12">
        </app-card-and-comment>
    </div>


<!--    <div class="row gallery-h">-->
<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="1"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="2"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="3"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="4"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->
<!--    </div>-->

<!--    <div class="row gallery-h">-->
<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="5"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="6"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="7"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="8"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->
<!--    </div>-->

<!--    <div class="row gallery-h">-->
<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="9"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="10"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="11"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->

<!--        <app-card-->
<!--            class="col-3"-->
<!--            cardNumber="12"-->
<!--            [canBeSelected]="cardCanBeSelected"-->
<!--            [cards]="state.page3.cards"-->
<!--            [selectedCards]="state.page3.selectedCards">-->
<!--        </app-card>-->
<!--    </div>-->

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevDay)="prevPage.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
