<h1>Page View</h1>
<div class="content">
    <div class="container-fluid">
        <div *ngFor="let block of blocks; index as i"
            id="{{'block-id-' + block.id}}">
            <div class="row" *ngIf="block.blockType == BlockType.TEXT">
                <div class="col-1"></div>
                <div class="col-10">
                    <div [innerHTML]="sanitizeTemplate(block.text)"></div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row" *ngIf="block.blockType == BlockType.TEXTAREA">
                <div class="col-2"></div>
                <div class="col-8">
                    <label for="{{'userText' + i}}" class="bg-task textarea-label">
                        {{ block.text }}
                    </label>
                    <textarea
                        id="{{'userText' + i}}"
                        class="form-control"
                        cols="40"
                        rows="8"
                        placeholder="Смелее! Пишите здесь =)">
                    </textarea>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>
