<div>
    <label class="card" [for]="'card' + cardNumber">
        <app-card
            [cardNumber]="cardNumber"
            [canBeSelected]="cardCanBeSelected"
            [cards]="cards"
            [selectedCards]="selectedCards">
        </app-card>
    </label>

    <textarea *ngIf="card.selected"
        [id]="'card' + cardNumber"
        class="form-control text-field-for-cards"
        [ngModel]="note"
        (ngModelChange)="onNoteChange($event)">
    </textarea>
</div>
