<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day4/dayNumber4.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[7])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <iframe
                width="100%"
                height="300"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen
                src="https://www.youtube.com/embed/ktfSi7fsy8c">
            </iframe>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[8])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note1">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[9])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevPage)="prevPage.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
