<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day2/dayNumber2.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[2])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText1">1. Текст текст текст текст вопроса</label>
            <textarea
                id="userText1"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note1">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText2">2. Текст текст текст текст вопроса</label>
            <textarea
                id="userText2"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note2">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText3">3. Текст текст текст текст вопроса</label>
            <textarea
                id="userText3"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note3">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText4">4. Текст текст текст текст вопроса</label>
            <textarea
                id="userText4"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note4">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText5">5. Текст текст текст текст вопроса</label>
            <textarea
                id="userText5"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note5">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText6">6. Текст текст текст текст вопроса</label>
            <textarea
                id="userText6"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note6">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText7">7. Текст текст текст текст вопроса</label>
            <textarea
                id="userText7"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note7">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText8">8. Текст текст текст текст вопроса</label>
            <textarea
                id="userText8"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note8">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText9">9. Текст текст текст текст вопроса</label>
            <textarea
                id="userText9"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note9">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText10">10. Текст текст текст текст вопроса</label>
            <textarea
                id="userText10"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note10">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText11">11. Текст текст текст текст вопроса</label>
            <textarea
                id="userText11"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note11">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText12">12. Текст текст текст текст вопроса</label>
            <textarea
                id="userText12"
                class="form-control text-field"
                cols="40"
                rows="4"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page3.note12">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[3])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevPage)="prevPage.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
