<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <img class="img-responsive" alt="" src="/assets/img/day7/dayNumber7.png">
                <div class="main-text">
                    <div [innerHTML]="sanitizeTemplate(templates[15])"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText1" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText1"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page6.note1">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[16])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText2" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText2"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page6.note2">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[17])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText3" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText3"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page6.note3">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div [innerHTML]="sanitizeTemplate(templates[18])"></div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <label for="userText4" class="bg-task textarea-label">Чистый лист для ваших записей</label>
            <textarea
                id="userText4"
                class="form-control text-field"
                cols="40"
                rows="8"
                placeholder="Смелее! Пишите здесь =)"
                [(ngModel)]="state.page6.note4">
            </textarea>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row text-aside"></div>
    <div class="row text-aside"></div>

    <app-navigation (prevPage)="prevPage.emit()" (nextPage)="nextPage.emit()"></app-navigation>
</div>
